body {
	padding: 0;
	margin: 0;
	background: transparent url('../../dn2017/images/parliament-hill-from-nepean-point.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

header {
	position: absolute;
}

.pattern {
  background: transparent url('../../dn2017/images/pattern.png') repeat;
  height: 1000vh;
  width: 1000vh;
  z-index: 2;
}

.dn-info {
  position: absolute;
  padding-top: 7em;
  text-align: center;
  font-family: Open Sans;
  width: 100%;
  font-size: 25px;
  color: white;
}

.logo {
  background-color: black;
  height: 2.25em;
  margin-top: 3em;
  padding-top: 2em;
  z-index: 2;
  position: fixed;
  width: 100%
}

.logo img {
  width: 25em;
  display: block;
  margin: -4.5em auto;
}

.content {
  width: 100%;
  background-color: white;
  height: 10em;
}

.content img {
  margin: 0 auto;
  display: block;
}

.content p {
  text-align: center;
  font-family: Open Sans;
  font-size: 1.75rem;
  padding: 0 15%;
  }

